#body
{
    margin: 100px;
    margin-top: 0;
}

#fotoPerfil 
{
    border-radius: 50%;
}

#info
{
    text-align: center;
}

#redes
{
    text-align: center;
}

#botoes
{
    text-align: center;
    margin-top: 25px;
}

#main
{
    text-align: center;
}

#portfolio
{
    text-align: center;
}

#botoesPort
{
    margin-bottom: 25px;
}